
.video-item {
    display: flex !important;
    align-items: center !important;
    cursor: pointer;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    
}

.video-item.item img {
    border-style: groove;
    border-color:slateblue; 
    width: 150px;
}
@media (min-width: 568px) {
    .row.equal {
      display: flex;
      flex-wrap: wrap;
    }
  }

